@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');

body
{
	background-color:#121212;
	color:#aeaeae;
}

a:link, a:hover, a:visited, a:active
{
	color:#aeaeae;
	text-decoration:none;
}

.myHeader
{
	font-size:45px;
	font-weight:300;
	padding-top: 150px;
	padding-bottom: 50px;
	text-align:center;
	font-family:Lato;
}

.col
{
	text-align:center;
	position:relative;
	font-family:Lato;
	font-weight:300;
}

dropdownbtn
{
}

#dropdownmenu1
{
	display:none;
}

#dropdownmenu2
{
	display:none;
}

#dropdownmenu3
{
	display:none;
}

#dropdownmenu4
{
	display:none;
}

#dropdownmenu5
{
	display:none;
}

#dropdownmenu6
{
	display:none;
}